@import "compass/reset";
@import "compass/css3";

$bg-color : #293133;

$main-font : Raleway;
@mixin f-fam($font1, $font2, $font3){
	font-family : $font1, $font2, $font3;
}


body {
    text-align: center;
    font: 1em/1.5 Georgia, serif;
    color: #fff;
    background-color: $bg-color;
    height: 100%;

}



 
a {
    text-decoration: none;
}
 
img {
    max-width: 100%;
    height: auto;
}

h1 {
    @include f-fam($main-font, Georgia, sans-serif);
    font-size: 2.25em;
    padding: 0 1em;
}
.avat{
	padding: 10em 0 20em;

	h1{
		text-align: center;
	}

}

.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(50px);
    width: 100px;
    height: 100px;
}


nav{
	li, a{
		@include f-fam($main-font, Georgia, sans-serif);
		color: #636161 !important;
	}

	.active{
		&:hover{
			 ul, li, a{
				@include transition(all 0.1s ease-in-out);
				background-color: #8ac1ef !important;
			}
			
		}
	}
}


footer{
	p{
		@include f-fam($main-font, Georgia, sans-serif);
	}
}

