//colors
$white: #fff;
$color_charade_approx: #293133;
$color_mine_shaft_approx: #333;
$color_mercury_approx: #e7e7e7;
$color_jordy_blue_approx: #8ac1ef;
$color_storm_dust_approx: #636161;
$color_celeste_approx: #ccc;
$black: #000;
$color_cod_gray_approx: #080808;

//fonts
$font_0: Raleway;
$font_1: Georgia;
$font_2: sans-serif;
$font_3: sans-serif !important;

%extend_1 {
	text-align: center;
	font: 1em/1.5 Georgia, serif;
	color: $white;
	background-color: $color_charade_approx;
	height: 100%;
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
	margin: 0;
	padding: 0;
	background: $color_mine_shaft_approx;
	background-attachment: fixed;
	background-size: cover;
}
section {
	height: 100%;
	padding-top: 150px;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
h1 {
	font-family: $font_0, $font_1, $font_2;
	font-size: 2.25em;
	padding: 0 1em;
}
.avat {
	padding: 14em 0 20em;
	background-color: $color_charade_approx;
	.covervid-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	h1 {
		text-align: center;
	}
	.btn {
		
		border-radius: 0;
	}
	a {
		text-decoration: none;
		color: $white !important;
		.btn-default {
			font-family: $font_0, $font_1, $font_3;
			background-color: $color_mercury_approx !important;
			
			border-radius: 0 !important;
			margin-top: 3em !important;
			color: $color_mine_shaft_approx !important;
			&:hover {
				background-color: $color_jordy_blue_approx;
			}
		}
	}
}
nav {
	li {
		font-family: $font_0, $font_1, $font_2;
		color: $color_storm_dust_approx !important;
	}
	a {
		font-family: $font_0, $font_1, $font_2;
		color: $color_storm_dust_approx !important;
	}
}
.active {
	ul {
		
		transition: all 0.3s ease-in-out;
		background-color: $color_jordy_blue_approx !important;
	}
	li {
		
		transition: all 0.3s ease-in-out;
		background-color: $color_jordy_blue_approx !important;
	}
	a {
		
		transition: all 0.3s ease-in-out;
		background-color: $color_jordy_blue_approx !important;
	}
}
.avatar {
	
	border-radius: 50px;
	
	box-shadow: 0 0 0 3px $white, 0 0 0 4px $color_celeste_approx, 0 4px 6px $color_mine_shaft_approx;
	height: 100px;
	width: 100px;
}
.presentation {
	font-family: $font_0, $font_1, $font_2;
	font-size: 16px;
	h1 {
		color: $white;
	}
	.marg {
		margin-top: 50px;
	}
	.content {
		margin-top: 65px !important;
	}
	img {
		width: 50%;
		min-width: 350px;
	}
}
.skills {
	font-family: $font_0, $font_1, $font_2;
	background-color: $white;
	color: $black;
	.container {
		margin-top: 65px;
	}
	.elem {
		margin-top: 40px;
	}
}
.portfolio {
	background-color: $color_charade_approx;
	color: $white;
	a {
		text-decoration: none;
		color: $white;
	}
	img {
		margin-top: 50px !important;
	}
}
.actualites {
	background-color: $white;
	color: $black;
}
footer {
	font-family: $font_0, $font_1, $font_2;
	border: 0 solid $color_cod_gray_approx;
	color: $white;
	a {
		color: $white;
		i {
			color: $white;
			display: inline-block;
			padding-left: 1em;
			text-align: center;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.modal .modal-header {
		background-color: $color_charade_approx;
	}
}