@import "compass/reset";
@import "compass/css3";

//colors
$white: #fff;
$color_charade_approx: #293133;
$color_celeste_approx: #ccc;
$color_mine_shaft_approx: #333;
$color_storm_dust_approx: #636161;
$color_jordy_blue_approx: #8ac1ef;
$color_cod_gray_approx: #080808;
$color_mercury_approx: #e7e7e7;

//fonts
$font_0: Raleway;
$font_1: Georgia;
$font_2: sans-serif;

body {
	text-align: center;
	font: 1em/1.5 Georgia, serif;
	color: $white;
	background-color: $color_charade_approx;
	height: 100%;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
h1 {
	font-family: $font_0, $font_1, $font_2;
	font-size: 2.25em;
	padding: 0 1em;
}
.avat {
	padding: 10em 0 20em;
	h1 {
		text-align: center;
	}
}
.avatar {

	box-shadow: 0 0 0 3px $white, 0 0 0 4px $color_celeste_approx, 0 4px 6px $color_mine_shaft_approx;

	border-radius: 50px;
	width: 100px;
	height: 100px;
}
nav {
	li {
		font-family: $font_0, $font_1, $font_2;
		color: $color_storm_dust_approx !important;
	}
	a {
		font-family: $font_0, $font_1, $font_2;
		color: $color_storm_dust_approx !important;
	}
	.active {
		&:hover {
			ul {
				
				transition: all 0.3s ease-in-out;
				background-color: $color_jordy_blue_approx !important;
			}
			li {
				
				transition: all 0.3s ease-in-out;
				background-color: $color_jordy_blue_approx !important;
			}
			a {
				
				transition: all 0.3s ease-in-out;
				background-color: $color_jordy_blue_approx !important;
			}
		}
		ul {
			background-color: $color_jordy_blue_approx !important;
		}
		li {
			background-color: $color_jordy_blue_approx !important;
		}
		a {
			background-color: $color_jordy_blue_approx !important;
		}
	}
}

footer {
	font-family: $font_0, $font_1, $font_2;
	border: 0 solid $color_cod_gray_approx;
	background-color: $color_mercury_approx;
	color: $color_jordy_blue_approx;
	h1 {
		color: $color_storm_dust_approx;
	}
	a {
		i {
			display: inline-block;
			text-align: center;
			padding-left: 1em;
		}
		&:hover {
			text-decoration: none;
		}
	}
}