/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/style.scss */
html, body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #fff;
  background-color: #293133;
  height: 100%;
}

/* line 29, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/* line 37, ../sass/style.scss */
section {
  height: 100%;
  padding-top: 150px;
}

/* line 42, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 46, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 51, ../sass/style.scss */
h1 {
  font-family: Raleway, Georgia, sans-serif;
  font-size: 2.25em;
  padding: 0 1em;
}

/* line 61, ../sass/style.scss */
.avat {
  padding: 14em 0 20em;
  background-color: #293133;
}
/* line 65, ../sass/style.scss */
.avat .covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 74, ../sass/style.scss */
.avat h1 {
  text-align: center;
}
/* line 78, ../sass/style.scss */
.avat .btn {
  border-radius: 0px;
}
/* line 81, ../sass/style.scss */
.avat a {
  text-decoration: none;
  color: #fff !important;
}
/* line 85, ../sass/style.scss */
.avat a .btn-default {
  font-family: Raleway, Georgia, sans-serif !important;
  background-color: #e7e7e7 !important;
  border-radius: 0px !important;
  margin-top: 3em !important;
  color: #333 !important;
}
/* line 92, ../sass/style.scss */
.avat a .btn-default:hover {
  background-color: #8ac1ef;
}

/* line 102, ../sass/style.scss */
nav li {
  font-family: Raleway, Georgia, sans-serif;
  color: #636161 !important;
}
/* line 108, ../sass/style.scss */
nav a {
  font-family: Raleway, Georgia, sans-serif;
  color: #636161 !important;
}

/* line 115, ../sass/style.scss */
.active ul {
  transition: all 0.3s ease-in-out;
  background-color: #8ac1ef !important;
}
/* line 120, ../sass/style.scss */
.active li {
  transition: all 0.3s ease-in-out;
  background-color: #8ac1ef !important;
}
/* line 125, ../sass/style.scss */
.active a {
  transition: all 0.3s ease-in-out;
  background-color: #8ac1ef !important;
}

/* line 132, ../sass/style.scss */
.avatar {
  border-radius: 50px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  height: 100px;
  width: 100px;
}

/* line 139, ../sass/style.scss */
.presentation {
  font-family: Raleway, Georgia, sans-serif;
  font-size: 16px;
}
/* line 142, ../sass/style.scss */
.presentation h1 {
  color: #fff;
}
/* line 146, ../sass/style.scss */
.presentation .marg {
  margin-top: 50px;
}
/* line 150, ../sass/style.scss */
.presentation .content {
  margin-top: 65px !important;
}
/* line 153, ../sass/style.scss */
.presentation img {
  width: 50%;
  min-width: 350px;
}

/* line 171, ../sass/style.scss */
.skills {
  font-family: Raleway, Georgia, sans-serif;
  background-color: #fff;
  color: #000;
}
/* line 176, ../sass/style.scss */
.skills .container {
  margin-top: 65px;
}
/* line 180, ../sass/style.scss */
.skills .elem {
  margin-top: 40px;
}

/* line 186, ../sass/style.scss */
.portfolio {
  background-color: #293133;
  color: #fff;
}
/* line 190, ../sass/style.scss */
.portfolio a {
  text-decoration: none;
  color: #fff;
}
/* line 196, ../sass/style.scss */
.portfolio img {
  margin-top: 50px !important;
}

/* line 203, ../sass/style.scss */
.actualites {
  background-color: #fff;
  color: #000;
}

/* line 208, ../sass/style.scss */
footer {
  font-family: Raleway, Georgia, sans-serif;
  border: 0 solid #080808;
  color: #fff;
}
/* line 213, ../sass/style.scss */
footer a {
  color: #fff;
}
/* line 215, ../sass/style.scss */
footer a i {
  color: #fff;
  display: inline-block;
  padding-left: 1em;
  text-align: center;
}
/* line 221, ../sass/style.scss */
footer a:hover {
  text-decoration: none;
}
/* line 228, ../sass/style.scss */
footer .modal .modal-header {
  background-color: #293133;
}
