/* line 18, ../sass/style.scss */
html, body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #fff;
  background-color: #293133;
  height: 100%;
}

/* line 30, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/* line 38, ../sass/style.scss */
section {
  height: 100%;
  padding-top: 150px;
}

/* line 42, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 45, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 49, ../sass/style.scss */
h1 {
  font-family: Raleway, Georgia, sans-serif;
  font-size: 2.25em;
  padding: 0 1em;
}

/* line 54, ../sass/style.scss */
.avat {
  padding: 14em 0 20em;
  background-color: #293133;
}
/* line 57, ../sass/style.scss */
.avat .covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 65, ../sass/style.scss */
.avat h1 {
  text-align: center;
}
/* line 68, ../sass/style.scss */
.avat .btn {
  border-radius: 0;
}
/* line 73, ../sass/style.scss */
.avat a {
  text-decoration: none;
  color: #fff !important;
}
/* line 76, ../sass/style.scss */
.avat a .btn-default {
  font-family: Raleway, Georgia, sans-serif !important;
  background-color: #e7e7e7 !important;
  border-radius: 0 !important;
  margin-top: 3em !important;
  color: #333 !important;
}
/* line 85, ../sass/style.scss */
.avat a .btn-default .learnmode-btn:hover {
  background-color: #8ac1ef;
}

/* line 94, ../sass/style.scss */
nav li {
  font-family: Raleway, Georgia, sans-serif;
  color: #636161 !important;
}
/* line 98, ../sass/style.scss */
nav a {
  font-family: Raleway, Georgia, sans-serif;
  color: #636161 !important;
}

/* line 104, ../sass/style.scss */
.active ul {
  transition: all 0.3s ease-in-out;
  background-color: #8ac1ef !important;
}
/* line 109, ../sass/style.scss */
.active li {
  transition: all 0.3s ease-in-out;
  background-color: #8ac1ef !important;
}
/* line 114, ../sass/style.scss */
.active a {
  transition: all 0.3s ease-in-out;
  background-color: #8ac1ef !important;
}

/* line 120, ../sass/style.scss */
.avatar {
  border-radius: 50px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  height: 100px;
  width: 100px;
}

/* line 128, ../sass/style.scss */
.presentation {
  font-family: Raleway, Georgia, sans-serif;
  font-size: 16px;
}
/* line 131, ../sass/style.scss */
.presentation h1 {
  color: #fff;
}
/* line 134, ../sass/style.scss */
.presentation .marg {
  margin-top: 50px;
}
/* line 137, ../sass/style.scss */
.presentation .content {
  margin-top: 65px !important;
}
/* line 140, ../sass/style.scss */
.presentation img {
  width: 50%;
  min-width: 350px;
}

/* line 145, ../sass/style.scss */
.skills {
  font-family: Raleway, Georgia, sans-serif;
  background-color: #fff;
  color: #000;
}
/* line 149, ../sass/style.scss */
.skills .container {
  margin-top: 65px;
}
/* line 152, ../sass/style.scss */
.skills .elem {
  margin-top: 40px;
}

/* line 156, ../sass/style.scss */
.portfolio {
  background-color: #293133;
  color: #fff;
}
/* line 159, ../sass/style.scss */
.portfolio a {
  text-decoration: none;
  color: #fff;
}
/* line 163, ../sass/style.scss */
.portfolio img {
  margin-top: 50px !important;
}

/* line 167, ../sass/style.scss */
.actualites {
  background-color: #fff;
  color: #000;
}

/* line 171, ../sass/style.scss */
footer {
  font-family: Raleway, Georgia, sans-serif;
  border: 0 solid #080808;
  color: #fff;
}
/* line 175, ../sass/style.scss */
footer a {
  color: #fff;
}
/* line 177, ../sass/style.scss */
footer a i {
  color: #fff;
  display: inline-block;
  padding-left: 1em;
  text-align: center;
}
/* line 183, ../sass/style.scss */
footer a:hover {
  text-decoration: none;
}
/* line 187, ../sass/style.scss */
footer .modal .modal-header {
  background-color: #293133;
}
